<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="provider" class="org.greg.project.MessageProviderImpl"/>
    <bean id="renderer" class="org.greg.project.MessageRendererImpl">
        <constructor-arg name="provider" ref="provider"/>
    </bean>

</beans>